html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-wrap {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* Centers login form on /user/login */

.login .main-wrap {
    display: flex;
    justify-content: center;
}

.login fieldset {
    width: 100%;
}

/* Centers login form on /user/create */

.create .main-wrap {
    display: flex;
    justify-content: center;
}

.create fieldset {
    width: 100%;
}
