parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Database/*
        - %rootDir%/../../../src/HTMLForm/*
        - %rootDir%/../../../htdocs/cimage/*
        - %rootDir%/../../../src/App*
